#list_mode { margin-left:150px; }
.orderBy label.order { width: 100px; text-align: right; }
ul.navigation li a.nav span { padding-right:6px; }
.flashHeader { height:435px; }
#nav_title { margin:5px 0; }
#nav_title img { margin-top:10px; }
.rightContent { padding: 0; }