@charset "UTF-8";

body, html {
	margin:0;
	padding:0;
	color:#fff;
	width:100%;
	text-align:center;
}

body {
	background: #FFFFFF url(../../images/main_bg.jpg) repeat-x;
}

a { color: #fff; }

#wrap {
	text-align:center;
	margin:20px auto;
	width:600px;
	min-height:100px;
}

#header {
	text-align:left;
	height:85px;
	background: #5394BF;
}

#content{
	text-align:left;
	background:#EEE;
	color: #313131;
	padding:10px;
}

#content a { color: #313131; }

#footer {
    background:#5394BF;
    clear:both;
    color: #fff;
    padding: 10px;
	font-size:11px;
}

#footer a { color: #ffff77; }

form, input, select, textarea {
	margin:0; padding: 0; color:#fff;
	text-align: left;
}

div.box-top { background: transparent url(../../images/login1.png) left top no-repeat; height:80px; margin:0 auto; width: 600px; }
div.box-bottom { background: transparent url(../../images/login3.png) left top no-repeat; height: 97px; margin:0 auto; width: 600px; }
div.box h5 {
	margin: 20px 0 0 0;
	padding-left:20px;
	font:Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
}
div.box {
	margin:0 auto;
	padding: 45px 0 0 0;
	overflow:hidden;
	width:600px;
	font-size: 12px;
	font-family: Arial,sans-serif;
	font-weight: normal;
	text-align: center;
	background: transparent url(../../images/login2.png) left top repeat-y;
}
div.box h1 {
	color:#fff;
	font-size: 24px;
	text-transform:uppercase;
	padding: 30px 0 20px 0;	
	text-align: center;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
}
.username {
	margin: 0 auto;
	padding-top:12px;
	display:block;
	background: transparent url(../../images/menu.png) no-repeat;
	width:204px;
	height:50px;
	text-align: center;
}
#username, #password { text-align: left; }
.password {
	margin: auto;
	padding-top:12px;
	display:block;
	background: transparent url(../../images/menu.png) no-repeat;
	width:204px;
	height:50px;
}
.username:hover, .password:hover {
	background:url(../../images/menu_hover.png) no-repeat;
}
div.box .input_text {
	color:#fff;
	margin-left: 10px;
	padding:5px;
	width:180px;
	background:#2a3134;
	border:#2a3134;
}
div.box .button {
	cursor:pointer;
	margin-top:10px;
	background:transparent url(../../images/login-button.png) no-repeat;
	width:176px;
	height:46px;
	border:none;
}
div.box .button:hover{
	background:transparent url(../../images/hover.png) no-repeat;
}
div.box .login { text-align: center; }
div.clear {
	clear: both;
}
.success{
	font-size:18px;
	font-family: Arial,sans-serif;
	font-weight: normal;
	text-align:center;
	margin:50px 0 15px 0;
	padding:5px;
	color:#313131;
	border:1px solid #2AB100;
	background: #CFEFC2;
	font-size:12px;
	font-weight:bold;
}
.error{
	background: url(../../images/notification.png) center top no-repeat;
	color:#f2f2f2;
	display: block;
	line-height: 14px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	margin-bottom: 20px;
	padding:10px;
}
.error a { color:#fff; text-decoration: none; }
.error a:hover { text-decoration: underline; }
fieldset{
	border:1px solid #CCC;
	padding:5px;
	margin:0px;
}
legend{
	padding:0px;
	font-size:15px;
	font-weight:bold;
}
.twitter_feed, .twitter_feed_top, .twitter_feed_bottom { margin:0 auto; text-align: center; width: 400px; }
.twitter_feed {
	display: block;
	overflow: hidden;
	background-color: #525252;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	border-left:2px solid #333;
	border-right:2px solid #333;
	font-size:14px;
	font-family:Arial,sans-serif;
	line-height:22px;
	padding: 10px !important;
	text-align:left;
	text-shadow: 1px 1px 1px #000;
	width:376px !important;
}
.twitter_feed a { color:#42c2fd; text-decoration: none; }
.twitter_feed a:hover { color:#42c2fd; text-decoration: underline; }
.twitter_feed_top {
	background-image: url(../../images/twitter_header.png);
	background-position:left top;
	background-repeat:no-repeat;
	display: block;
	height:50px;
}
.twitter_feed_bottom {
	background-image: url(../../images/footer.png);
	background-position:center top;
	background-repeat:no-repeat;
	display: block;
	height:50px;
}
.twitter_feed font { color:#ababab; font-size: 12px; font-style: italic; text-align: right; }