    </div>
    <div id="sidebar">
      {include file="sidebar.html"}
    </div>
    <div id="footerAd" align="center">
		{$bottom_ads}
	</div>
    <div id="footer">
    	{$lang_all_rights_reserved} <a href="{$website_url}">{$website_name}</a>.
		| <a href="google_sitemap_xml.php" target="_blank" title="{$lang_sitemap}">{$lang_sitemap}</a>
		| <a href="contact-us.html" title="{$lang_contact_us}">{$lang_contact_us}</a>
		<div style="float:right;margin-top:-15px;">
		<a target="_blank" href="http://www.youtube.com">
			<img border="0" align="top" src="{$theme_base}images/badge1.gif"/>
		</a>
		</div>
    </div>
</div>
{$footer_code}
{$wibiya_code}
<script type="text/javascript">
<!--
	set_display_favorites();
-->
</script>
</body>
</html>