{include file="header.html" title_page="$title :: $lang_favorites" title_inner="$title :: $lang_favorites"}
{assign var='showDescription' value=false}


<div id="profile">

  <div id="profile_c1">
  <p><span>{$lang_join}:</span> {$join_date|date_format}</p>
  {if $name}
    <p><span>{$lang_name}:</span> {$name}</p>
  {/if}
  {if $gender}
    <p><span>{$lang_gender}:</span> {$gender}</p>
  {/if}
  {if $hometown}
    <p><span>{$lang_hometown}:</span> {$hometown}</p>
  {/if}
  {if $location}
    <p><span>{$lang_location}:</span> {$location}</p>
  {/if}
  </div>

  <div id="profile_c2">
  <p><span>{$lang_videos_watched}:</span> {$view_watch_count}</p>
  <p><span>{$lang_subscribers}:</span> {$subscriber_count}</p>
  <p><span>{$lang_channel_views}:</span> {$view_count}</p>
  </div>

  <div class="clear"></div>

  {if $books}
    <p><span>{$lang_books}:</span> {$books}</p>
  {/if}
  {if $movies}
    <p><span>{$lang_movies}:</span> {$movies}</p>
  {/if}
  {if $music}
    <p><span>{$lang_music}:</span> {$music}</p>
  {/if}
  {if $hobbies}
    <p><span>{$lang_hobbies}:</span> {$hobbies}</p>
  {/if}

  {$description}
</div>

<div id="user_menu">
  <ul>
    <li><a href="profile/{$username}/">{$lang_profile}</a></li>
    <li><a href="profile/{$username}/videos/">{$lang_videos}</a></li>
    <li><a href="profile/{$username}/favorites/" class="selected">{$lang_favorites}</a></li>
    <li><a href="profile/{$username}/playlists/">{$lang_playlists}</a></li>
  </ul>
</div>

<div class="clear"></div>
{include file="box.list_menu.html"}
<div id="display_list" style="display:none;"> 
{section loop=$user_favorites name=i}
	
	{include file="item.video_detailed.html" videos=$user_favorites}
  
  	{if $smarty.section.i.index eq "1"}
		{if $list_ads != ''}
  		<div class="ad468_home" id="grid_ad" align="center" style="width:623px;">{$list_ads}</div>
		{/if}
  	{/if}

{sectionelse}
  <p>{$title} {$lang_no_favorite_videos}</p>
{/section}
</div>
<div id="display_grid" style="display:none;"> 
<div class="video_item">
<div class="clear"></div>
{section loop=$user_favorites name=i}
	{include file="item.video_brief.html" videos=$user_favorites}
  	{if $smarty.section.i.index eq "5"}
		{if $list_ads != ''}
  		<div class="ad468_home" id="grid_ad" align="center" style="width:623px;">{$list_ads}</div>
		{/if}
  	{/if}
{sectionelse}
  <p>{$title} {$lang_no_favorite_videos}</p>
{/section}
<div class="clear"></div>
</div>
</div>


{if $total > 0}
  <p class="curr_page">{$lang_page}: {$curr_page} {$lang_of} {$total}</p>
{/if}

{if $prev_page}
  <p class="prev_page"><a href="profile/{$username}/favorites/page{$prev_page}.html">{$lang_previous_page}</a></p>
{/if}

{if $next_page}
  <p class="next_page"><a href="profile/{$username}/favorites/page{$next_page}.html">{$lang_next_page}</a></p>
{/if}
<script>
	setTimeout('setDisplayOnLoad();',1);
</script>
{include file="footer.html"}