<form method="get" action="list.php" name="frmSearch">
<div class="searchLeft">
	<div class="searchLeftInner">
		<div class="width84px">
		<label class="searchTxt" for="search">{$lang_search}</label>
		</div>
		<input type="text" class="inputBg" id="search" title="{$lang_when_you_need_to_type_english}" name="q" onfocus="if(this.value=='{$lang_search_for_videos}') this.value='';" onblur="if(this.value=='') this.value='{$lang_search_for_videos}';" value="{if $keyword}{$keyword}{else}{$lang_search_for_videos}{/if}"  alt="{$lang_search_for_videos}" />
	</div>

	<div class="buttonwrapper" id="filter">
		{if $default_filter_value == 'on'}
		<a id="search-filter-status-button" class="ovalbutton" href="javascript:setSafeSearchPref();"><span>{$lang_filter_on}</span></a> 
		{else}
		<a id="search-filter-status-button" class="ovalbutton_off" href="javascript:setSafeSearchPref();"><span>{$lang_filter_off}</span></a> 
		{/if}
	</div>
    <div class="buttonwrapper2"> <a class="ovalbutton2" id="searchbutton" href="javascript:submit_search();"><span>{$lang_go}</span></a> </div>
	<input id="search-filter-hiddenInput" type="hidden" value="{$filterValue}" name="filter">
</div>
</form>