{include file="header.html" title_page="$title $lang_videos" title_inner="$title"}
 <div class="leftContent">
  <!-- Left content Begins -->
  <div class="above_video_ads" style="margin-bottom:8px;">
  <center>{$above_video_ads}</center>
  </div>
<div style="clear:both;" class="video_player" id="mediaspace"><a href="http://www.macromedia.com/go/getflashplayer">{$lang_get_flash_player}</a> {$lang_to_see_video}</div>

	{include file="html/player.detail.html"}
<div id="list_menu">
	<div id="list_mode" style="margin-left:0px;color:red;">
		* {$lang_hd_format_no_available}
	</div>
	<div id="list_orderby">
		{$lang_play_in}: &nbsp;
		<a href="video/{$id}/{$title|seotitle}.html" {if $fmt==""}class="selected"{/if}>{$lang_low_quality}</a> | 
		<a href="video-fmt18/{$id}/{$title|seotitle}.html" {if $fmt=="18"}class="selected"{/if}>{$lang_high_quality}</a> |
		<a href="video-fmt22/{$id}/{$title|seotitle}.html" {if $fmt=="22"}class="selected"{/if}>{$lang_hd_quality}</a> <span style="color:red;">*</span>
	</div>
</div>



{include file="box.addthis.html"}


<center>{$below_video_ads}</center>

{if $relatedVideosPosition == "middle"}
  <p>&nbsp;</p>
  <div id="related_videos" class="mt_15">
    <div id="relatedVideos"></div>
  </div>
  <script type="text/javascript">
    setTimeout('ajaxGet(\'ajax/related.php?vid={$id}&p=\', \'relatedVideos\', \'1\', \'relatedVideos\');',1500);
  </script>
  <div class="mt_bt"></div>
  {else}
  <div class="mt_20"></div>
{/if}

{if $facebook_comments == true}
  <div class="category">
    <h2>{$lang_facebook_comment}</h2>
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1&appId={$facebook_app_id}"></script>
    <fb:comments href="{$permalink}" num_posts="10" width="590" colorscheme="light"></fb:comments>
  </div>
  <div class="clearboth"></div>
{/if}

{if $local_comments_enabled || $youtube_comments_enabled}
<div id="detail_stat">
<div id="comments">
	<!-- google_ad_section_start -->
	{if $local_comments_enabled}
		{if $is_gd_enabled}
			<div class="category"><h2>{$lang_post_a_comment}</h2></div>
			<div class="clearboth"></div>
		
		{include file="box.comment_post.html"}
		{else}
		<p class="msg error">{$lang_please_enabled_gd_library}</p>
		{/if}
	<div class="category"><h2>{$lang_local_comments} (<em id="comments_count2">{$totalLocalComments}</em>)</h2></div>
	<div class="clearboth"></div>
	{include file="box.comments_local.html"}

	{/if}

	{if $youtube_comments_enabled}
	<div class="category"><h2>{$lang_youtube_comments} ({$totalYoutubeComments})</h2></div>
	<div class="clearboth"></div>
		{include file="box.comments.html"}
	{/if}
	<!-- google_ad_section_end -->
</div>
</div>
{/if}

{include file="footer.html" relatedVideosPosition="$relatedVideosPosition" above_video_detail_ads="$above_video_detail_ads"}