
</div>
			<div class="rightContent">
			  {include file="sidebar.html" relatedVideosPosition="$relatedVideosPosition" above_video_detail_ads="$above_video_detail_ads" twitter_feeds="$twitter_feeds"}
            </div>

			{if $bottom_ads != '' }
			<div align="center">{$bottom_ads}</div>
			{/if}
          </div>
        </div>
      </div>




  </div>

  {* !!!!! Please do not remove the copyright link below unless you have purchased copyright removal !!!!! *}
  <div id="FooterWrapper">
    <!-- Footer Begins -->
    <div class="AutoWrapper"><span class="FooterInner">{$lang_all_rights_reserved} <a class="blue_link" href="{$website_url}">{$website_name}</a>.
		| <a class="blue_link" href="google_sitemap_xml.php" target="_blank" title="{$lang_sitemap}">{$lang_sitemap}</a>
		| <a class="blue_link" href="contact-us.html" title="{$lang_contact_us}">{$lang_contact_us}</a>
		<div class="footer_logo">
		<a target="_blank" href="http://www.youtube.com">
			<img border="0" align="top" src="{$theme_base}graphics/badge1.gif"/>
		</a>
		</div>
	</span>

	</div>
  </div>


</div>
{$footer_code}
{$wibiya_code}
<script type="text/javascript">
<!--
	set_display_favorites();
-->
</script>
</body>
</html>