<div class="thumb" id="detailed_thumb">
	<h3><a href="video/{$videos[i].id}/{$videos[i].title|seotitle}.html">{$videos[i].title}</a></h3>
	<p class="justify_p">{$videos[i].short_description}</p>
    <div class="video"><a href="video/{$videos[i].id}/{$videos[i].title|seotitle}.html"><img alt="{$videos[i].title}" src="{$videos[i].thumbnail.0}"  /><span class="video-time"><span>{$videos[i].minute_format}</span></span></a></div>
	<div class="thumb-list">
		<a href="video/{$videos[i].id}/{$videos[i].title|seotitle}.html"><img class="smallThumb" src="{$videos[i].thumbnail.1}" width="70" alt="{$videos[i].title}" /><img class="smallThumb" src="{$videos[i].thumbnail.2}" alt="{$videos[i].title}" width="70" /><img class="smallThumb" src="{$videos[i].thumbnail.3}" alt="{$videos[i].title}" width="70" /></a>
	</div>
	<ul>
		<li><span><img class="profileIcon" src="{$theme_base}images/profile.gif" title="{$videos[i].author} Channel" border="0"></span> <a href="profile/{$videos[i].author}/">{$videos[i].author}</a></li>
		<li><span>{$lang_length}:</span> {$videos[i].minute_format}</li>
		{if $videos[i].view_count}<li><span>{$lang_Views}:</span> {$videos[i].view_count}</li>{/if}
		 {if $tags_enabled == 'true'}
		<li>
			<span>{$lang_tags}:</span>
			<!-- google_ad_section_start -->
			{foreach from=$videos[i].keywords item=tag}
			<a class="tag" href="{$tag|urlencode}/">{$tag}</a>&nbsp;
			{/foreach} 
			<!-- google_ad_section_end -->
		</li>  
		{/if}
		<li>
			 <div class="rating_bar_detail" id="detailed_rating">
				<div style="width:{$videos[i].rating_avg}%"></div>
			</div>
		</li>  
	 </ul>

</div>