{include file="header.html" showHomePlayer=true keywords="" title_page="$lang_home" title_inner="$category_name"}
{include file="box.list_menu.html" showOrder="true"}
<div id="display_list" style="display:none;"> 
{section loop=$videos name=i}
	{include file="item.video_detailed.html" videos=$videos}
  	{if $smarty.section.i.index eq "2"}
		{if $list_ads != ''}
  		<div class="ad468_home" id="grid_ad" align="center">{$list_ads}</div>
		{/if}
  	{/if}
{sectionelse}
  <p>{$lang_no_video_available}</p>
{/section}
</div>
<div id="display_grid" style="display:none;"> 
<div class="video_item">
<div class="clear"></div>
{section loop=$videos name=i}
	{include file="item.video_brief.html" videos=$videos}
  	{if $smarty.section.i.index eq "5"}
		{if $list_ads != ''}
  		<div class="ad468_home" id="grid_ad" align="center">{$list_ads}</div>
		{/if}
  	{/if}
{sectionelse}
  <p>{$lang_no_related_videos}</p>
{/section}
<div class="clear"></div>
</div>
</div>
<div id="pager">
{if $total > 0}
  <p class="curr_page">{$lang_page}: {$curr_page} {$lang_of} {$total}</p>
{/if}
{if $prev_page}
  <p class="prev_page"><a href="categories/{$keyword|seotitle}/{$randID}/page{$prev_page}.html">{$lang_previous_page}</a></p>
{/if}
      
{if $next_page}
  <p class="next_page"><a href="categories/{$keyword|seotitle}/{$randID}/page{$next_page}.html">{$lang_next_page}</a></p>
{/if}
</div>
<script>
	setTimeout('setDisplayOnLoad();',1);
</script>
{include file="footer.html"}